
build \
--spawn_strategy=local \
--strategy=SwiftCompile=worker \
--swiftcopt=-Xwrapped-swift=-debug-prefix-pwd-is-dot \
--experimental_strict_action_env=true \
--apple_bitcode=none \
--verbose_failures \
--bes_outerr_buffer_size=0 \
--apple_platform_type=macos \
--cpu=darwin_x86_64 \
--compilation_mode=dbg \
--define=apple.add_debugger_entitlement=1 \
--define=apple.propagate_embedded_extra_outputs=1 \
--define=apple.experimental.tree_artifact_outputs=1 \
--apple_generate_dsym \
--features=debug_prefix_map_pwd_is_dot \
--tool_tag=tulsi:bazel_build \
--noexperimental_build_event_json_file_path_conversion \
--features=swift.use_global_module_cache
